.main{
  background-color: burlywood;
  padding: 10px;
  position: relative;
  top:35px;
  height: auto;
}
 #form-diamond{
   display: inline;
 }

 #diamond{
  height: 20px;
  position: relative;
  border: 1px solid black;
  margin-left: 3px;
  width: 50px;
  border-radius: 6px;
  text-align: center;
 }
 .size12{
   font-size: 12px;
 }

 .input-cidadao{
  top: 3px;
  height: 20px;
  position: relative;
  border: 1px solid black;
  margin-left: 3px;
  width: 50px;
  border-radius: 6px;
  text-align: center;
 }

 .cidadao-id{
  width: 88px;
 }

 .item-trofeu{
  position: relative;
  top: 5px;
 }

 .mat-form-field {
  width: 20%;
  display: block;
  position: relative;
  text-align: left;
}

.span-cidadaos{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-cidadao{
  margin-bottom: 12px;
}
#div-cidadao{
  position: relative;
  top: 15px;
  display: inline;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.item-premiacao{
  position: relative;
  left: 40px;
  display: inline-flex;
}

.item-rubi{
  position: relative;
  left: 80px;
  display: inline-flex;
}

.item-valor-premio{
  margin-left: 12px;
  width: 42px;
  background-color: none;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  height: 20px;
}

.span-valor-premio{
  position: relative;
  top: 1.145px;
}
.item-valor-rubi{
  margin-left: 12px;
  width: 42px;
  background-color: none;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  height: 20px;
}

.span-valor-rubi{
  position: relative;
  top: 1.145px;
}

#div-total-trofeus{
  display: inline;
  margin-left: 12px;
}
#div-total-rubis{
  display: inline;
  margin-left: 12px;
}

@media screen and (max-width:500px){
  #div-total-trofeus{
    display: block;
    position: relative;
    top: 6px;
    left:-11px;
  }
  .item-valor-premio {
    margin-left: 0px;
    width: 38px;
    background-color: none;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    height: 16px;
    font-size: 13px;
    position: relative;
    left: 87px;
    bottom: 15px;
  }
  #div-total-rubis{
    display: block;
    position: relative;
    top: 6px;
    left:-11px;
  }

  #div-cidadao{
    position: relative;
    top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .item-premiacao {
    left: -32px;
    width: 100%;
    font-size: 13px;
    display: inline-block;
  }

  .item-rubi{
    position: relative;
    left: 2px;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    top: -2px;
  }

  .item-valor-rubi {
    margin-left: 0px;
    width: 38px;
    background-color: none;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    height: 16px;
    font-size: 13px;
    position: relative;
    left: 64px;
    top: -18px;
  }
  .input-cidadao {
    top: -2px;
    height: 16px;
    position: relative;
    border: 1px solid black;
    margin-left: 3px;
    width: 38px;
    border-radius: 6px;
    text-align: center;
  }

  .item-trofeu {
    top: 0px;
  }

  .cidadao-id {
    width: 66%;
    position: relative;
    left: 0px;
    font-size: 13px;
    bottom: 8px;
  }

  .span-cidadao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .item-cidadao {
    margin-bottom: 12px;
    width: 100%;
  }
}

#input-total{
  margin-left: 6px;
  width: 60px;
  border: 1px solid black;
  border-radius: 6px;
  height: 20px;
  text-align: center;
  background: none;
  cursor: not-allowed;
  color:black;
}

#input-rubis{
  height: 20px;
  position: relative;
  border: 1px solid black;
  margin-left: 3px;
  width: 50px;
  border-radius: 6px;
  text-align: center;
}


#img-rubi{
  position: relative;
  top: 5px;
}
.icon-rubi{
  width: 15px;
}
