.rodape{
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
  background: chocolate;
  padding: 10px 0px 10px 10px;
  margin-top: 15px;
}

.rodape > h1 {
  margin:0px;
}

a {
  text-decoration: none;
  color: gainsboro;
}


/* unvisited link */
a:link {
  text-decoration: none;
  color: gainsboro;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: gainsboro;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: gainsboro;
}

/* selected link */
a:active {
  text-decoration: none;
  color: gainsboro;
}

.icon{
  top: 4px;
  position: relative;
  color: red;
}
